<%- include('header.ejs') %>

 
    <h2>Admin: </h2>
    <div class="jobsList">
     
          <ul>
            <li><a href="/admin/categorias">Gerenciar categorias</a></li>
            <li><a href="/admin/vagas">Gerenciar vagas</a></li>
          </ul>

    </div>
  </div>

 <%- include('footer.ejs') %>