<%- include('header.ejs') %>

 
    <h2>Nova categoria: <a href="/admin/categorias">Categorias</a></h2>
    <div class="jobsList">
      <form method="POST">
        <label>Categoria: </label>
        <input type="text" name="categoria">
        <button>salvar</button>
      </form>
    </div>
  </div>

 <%- include('footer.ejs') %>