<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JOBIFY</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container"> 
    <h1><a href="/"><img src="/img/logo.png" alt="JOBIFY - by devPleno"></a></h1>
    <p class="subtitle">We are Jobify - Join us!</p>

  