<%- include('partials/header.ejs') %>
  <div class="container">
    <h2><%- vaga.titulo%></h2>
    <div class="jobsList">
      <h3><%- vaga.descricao%></h3>
    
          
    </div>
  </div>
  <%- include('partials/footer.ejs') %>